button {
    background-color: aquamarine;
    color: aliceblue;
    
    border: none;

    border-radius: 10px 10px 10px 10px;
    cursor: pointer; 
    font-size: 25px;
}

/* Optional hover effect */
button:hover {
    background-color: lightseagreen; /* Optional */
    color: white; /* Optional */
}
body {
    font-family: 'Times New Roman';
    text-align: center;         /* Centers text inside the body */
}