button {
    background-color: rgb(255, 127, 136);
    color: aliceblue;
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer; 
    font-size: 25px;
}


button:hover {
    background-color: lightseagreen; 
    color: white; 
}
body {
    font-family: 'Times New Roman';
     text-align: center;        
}