button {
    background-color: aquamarine;
    color: aliceblue;
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer; 
    font-size: 25px;
}


button:hover {
    background-color: lightseagreen; 
    color: white; 
}
body {
    font-family: 'Times New Roman';
    text-align: center;        
}
